h1{
    font-size: 5em;
    display: flex;
    justify-content: center;
    
}
#profile{
    height: 400px;
}

body{
    background-color: white
}

div{
    background-color: white;
}

body{
    color: burlywood;
}
a{
    color: brown;
    text-decoration: none;
}
.social-icon{
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 4px;
    justify-content: center;
    
    
}