



/*good code*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*html{
    background: white;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}*/
/*Projects heading*/


.title {
  display: inline;
  font-size: 8vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  margin-top: 15px;

}
  
  

@supports (-webkit-background-clip: text) {
	.title {
		color: transparent;
		background: linear-gradient(7deg, hsl(287, 80%, 57%), #4d2dd8, #cd05f0, #3018e8);
		-webkit-background-clip: text;
	}
}

.projects {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: #1e1f26;*/
   background-color: white;

  }
 .container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
  }
  .left {
    width: 60%;
    height: 400px;
    background: url(Screenshot\ \(122\).png)
      no-repeat center / cover;
    border-radius: 8px;
  }
  .right {
    width: 50%;
    height: 300px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -100px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

  }
  .right h1 {
    font-size: 40px;
    font-weight: lighter;
    background: -webkit-linear-gradient(-30deg, #f9497b, #e8eb20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  .right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }
  .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    
  }
  .right .card_btn{
    color: hsl(343, 94%, 63%);
    padding: 0.7rem;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    display: block;
    width: 50%;
    cursor: pointer;
    border: 3px solid;
    /*border-color: #EF8D9C;*/
    border-color: hsl(343, 94%, 63%);
    background-color: transparent;
    text-align: center;
    font-weight: bold;
  }
  .left1 {
    width: 60%;
    height: 400px;
    background: url(Screenshot\ \(121\).png) no-repeat top / cover ;
    border-radius: 8px;
  }
  .right1 {
    width: 50%;
    height: 300px;
    background-color: rgb(142, 105, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 8px;
    color: white;
    margin-left: -100px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

  }
  .right1 h1 {
    font-size: 40px;
    font-weight: lighter;
    background: linear-gradient(-30deg, hsl(287, 80%, 57%), #4d2dd8, #cd05f0, #3018e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  .right1 p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }
  .right1 a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    
  }
  .right1 .card_btn{
    color: hsl(264, 66%, 35%);
    padding: 0.7rem;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    display: block;
    width: 50%;
    cursor: pointer;
    border: 3px solid;
    /*border-color: #EF8D9C;*/
    border-color: hsl(264, 66%, 35%);
    background-color: transparent;
    text-align: center;
    font-weight: bold;
  }

  
  
  
  /* project section on small screen */
  @media only screen and (max-width: 640px) {
    .container {
      flex-direction: column;
      width: 90%;
      margin: 0 20px;
    }
    .left {
      width: 100%;
      height: 350px;
    }
    .right {
      width: 90%;
      margin: 0;
      margin-top: -160px;
    }
    .right h1{
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    .right p{
        font-size: 18px;
    }
    .contents .btn{
        padding: 10px 10px;
        font-size: 12px;

    }
    .left1{
        width: 100%;
        height: 350px;
        background: url(Screenshot\ \(121\).png) no-repeat bottom / cover ;
    }
    .right1{
        width: 90%;
        margin: 0;
        margin-top: -160px;
    }
    .right1 h1{
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    .right1 p{
        font-size: 18px;
    }
    .right .card_btn{
        padding: 0.7rem;
        width: 100%;
  }
    .right1 .card_btn{
        padding: 0.7rem;
        width: 100%;
    }
}
  


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 10px;
  padding: 30px 70px;
  padding-top: 40px;

}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}
.menu li a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo a{
    text-decoration: none;
    color: white;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 5px;
  width: 30px;
}

.menu-button::before {
  content: '';
  margin-top: -10px;
}

.menu-button::after {
  content: '';
  margin-top: 10px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(236, 52, 52, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    margin-top: 15px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo{
    margin-left: -25px;
    margin-top: 15px;
    
    
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px dotted white;
    height: 2.5em;
    padding-top: 5px;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background: linear-gradient(-30deg, #39e9d1, #cd6de6, #23a6d5, #23d5ab);

  }
}

.topnav {
    padding: 30px 70px;
    
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .top-nav .active{
    float: left;
    font-size: 23px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
.top-nav a:hover{
    color: #fd4766;
    text-decoration: none;
}
.top-nav a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    transition: .3s;
    bottom: 0;
}
.top-nav a:hover:after{
    width: 100%;
}
  
  .topnav .icon {
    display: none;
  }
  
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-30deg, #39e9d1, #cd6de6, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;

}

nav{
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    font-size: 23px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 18px;
}
nav ul li a:hover{
    color: #fd4766;
    text-decoration: none;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content h1{
    color: white;
    font-size: 75px;
    font-weight: 700;
    text-transform: inherit;
    width: 70%;
    font: 'Alegreya Sans SC';
    float: left;
    
}
.content h1 span{
    color: rgb(252, 109, 140);

}
.content h1 span:hover{
    font-style: italic;

}
.content p{
    width: 55%;
    color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
}
@media screen and (max-width:640px){
    .content .wafa{
        font-size: 60px;
        line-height: 60px;
        margin-top: -25px;
        
    }
    .content p{
        font-size: 20px;
    }
    
    .content .btn{
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 30px;
        border-radius: 500px;
        display: inline-block;
        font-weight: 500;
        transition: all .4s ease-in-out;
        background-size: 152% 100%;
    }

    .topnav .active{
        padding-right: 20px;
    }
    

}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.main {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

.featured-projects {
    font-size: 40px;
    font-weight: 0px;
    text-align: start;
    padding-left: 18px;
    color: black;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_btn {
  color: #EF8D9C;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid;
  border-color: #EF8D9C;
  background-color: white;
}

.card_btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-right: 20px;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 70%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
}

.card_content {
  padding: 2rem;
  /*background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);*/
  background:white;
  
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  padding-bottom: 25px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
/*
.line{
    width: 1100px;
    height: 3px;
    background:rgb(252, 109, 140);
    border-radius: 5px;
    margin-left: 15px;
    
}
 */ 
footer {
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    background: linear-gradient(-30deg, #39e9d1, #cd6de6, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}
.text {
    font-size: 28px;
    font-weight: bold;
    margin: 0px auto;
}


footer input:hover[type='submit'] {background: rgb(219, 3, 154);}
.list-footer {
    margin: 40px auto;
    display: flex;
    list-style-type: none;
}
.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.list-footer li a:hover{color: var(--mycolor);}

.social-media {
    margin: 20px auto;
}
.social-media i {
    padding: 20px;
    font-size: 30px;
    color: #fff;
}
.social-media i:hover{
    color: rgb(2,255,171);
}

@media(max-width:810px){
    .text {
        font-size: 20px;
    }
    .list-footer li a {
        padding: 15px;
        font-size: 15px;
    }
    .social-media i {
        padding: 10px;
    }
}
@media(max-width:610px){
    .text ,  footer input[type='email']  {
        font-size: 14px;
    }
    .list-footer li a {
        padding: 10px;
        font-size: 12px;
    }
    .social-media i {
       font-size: 15px;
    }
}
@media(max-width:470px){
    .text {
        font-size: 12px;
    }
    .list-footer li a {
        padding: 5px;
    }
}
@media(max-width:330px){
    .text {
        font-size: 10px;
    }
}
